* {
    box-sizing: border-box;
    padding: 0;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color:black;
}

.page-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    overflow-x: hidden;
}

.top-bar {
    background-color: black;
    color: white;
    padding: 0.5em 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    z-index:999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.top-bar p, .top-bar-contacts p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}


.top-bar .mail-link{
    color: white;
    text-decoration: none;
}

.top-bar-contacts .mail-link:hover{
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url('Test3.png');
    background-size: cover;
    background-position: center;
    color: white;
    height: calc(100vh - 33px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.hero::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 1;
}

.top-nav{
    display: flex;
    justify-content:center;
    position: fixed;
    width: 100%;
    top:37px;
    align-items: center;
    z-index: 10;
    background-color: #4e4b4b;
    min-height: 70px;
    padding: 0 2%;
}

.nav-item {
    color: white;
    flex:1;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

.divider {
    width: 2px;
    height: 50%;
    z-index: 19;

}
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.13);
}


.hero-content, .scroll-down {
    padding: 0 10%;
    position: relative;
    z-index: 2;
}


.logo-link {
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    top: 250%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 30s infinite linear;
}

.static-logo {
    display: none;
}

.logo-link::after{
    content: '';
    position: absolute;
    top: -100%; right: -100%;
    bottom: -100%; left: -100%;
    background: linear-gradient(45deg,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    animation: shine 2s infinite linear;
    
}

@keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotateY(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateY(360deg);
    }
  }
  

.logo-image{
    width: 100%;
    height: auto;
    animation: none;
}

.logo-image::after {
    content: '';
    position: absolute;
    top: -50%; right: -50%;
    bottom: -50%; left: -50%;
    background: linear-gradient(45deg, transparent 49%, rgba(255,255,255,0.5) 50%);
    animation: shine 10s linear infinite;
    transform: rotate(30deg);
}

@keyframes shine {
    from {transform: translateX(-50%) translateY(-50%) rotate(45deg);}
    to {transform: translateX(50%) translateY(-50%) rotate(45deg);}
}

.dropdown:hover .dropdown-content{
    display: block;
}

.hero-content{
    display:flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    z-index: 1;
}

.hero-content > div {
    flex:1;
    max-width: 50%;
}

.animated-text {
    .animated-text {
        display: inline-block;
        overflow: hidden; /* Ensures the content width is only as wide as the text */
        border-right: .15em solid orange; /* The cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Center align the text */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(30, end),
          blink-caret .75s step-end infinite;
    }
}

@keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
@keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
      }

@keyframes blink-cursor {
        from { opacity: 1; }
        to { opacity: 0; }
    }

.hero-text{
    text-align: center;
    margin: 0 auto;
    padding: 0 5%;
}

.hero-text h1 {
        font-size: 4em; /* Make it bigger as needed */
      }

.hero-text h1, .area-description, .hero-text p {
    text-align: center;
}

.animated-text::after {
        content: '|';
        animation: blink-cursor 0.7s steps(2, start) infinite;
        font-weight: bold;
        font-size: 1em; /* Match your animated text font size */
    }

.area-description{
    font-size: 3em;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.hero-text p{
    font-size: 1.5em;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* This creates two columns */
    grid-gap: 10px; /* Adjust the space between grid items */
    align-items: end; /* Aligns the items to the end of each grid cell */
}

.contact-form input, .contact-form textarea, .contact-form button, .contact-form select {
border-radius: 10px;
height: 50px;
padding: 10px;
}
.contact-form input[type="text"], .contact-form textarea {

    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
}
.contact-form input[type="text"],
.contact-form select {
    grid-column: span 1;
}
.contact-form input[type="text"], .contact-form textarea {
    grid-column: span 1;
}

.contact-form textarea {
    grid-column: 1 / -1;
}

.contact-form .btn-quote{
    grid-column: 1 / -1;
}
.contact-form .btn-quote{
    background-color: red;
    color: white;
    border:none;
    padding: 1em 2em;
    cursor: pointer;
}

.service-dropdown {
    border: 1px solid #ccc; 
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1440px){
    .hero {
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }

    .top-bar, .top-nav, .hero-content, .scroll-down {
        padding: 0 5%;
    }

    .top-bar p, .top-bar-contacts p {
        text-align: center;
    }

    .top-bar-contacts {
        margin-top: 0.5em;
    }

    .hero-content {
        flex-direction: column;
        text-align: center;
    }
    .hero-content > div {
        max-width: none;
        margin:  10px 0;
    }

    .contact-form {
        width: 80%;
        margin: 0 auto;
    }
}

.body{
    padding-top: 107px;
}